.cardInfo {
	border-radius: 10px;
	background-color: #020c20;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	border-color: aqua;
	margin: 2%;
	padding: 0.5%;
}
.parent {
	display: flex;
	justify-content: space-between;
}

.child {
	flex: 1;
}
.child .col.align-items-start {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	height: 100%;
	padding: 10px;
}

.child .col.align-items-start .logo-info {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 16px;
}
.card {
	background-color: transparent;
	border: none;
	height: 100%;
}
.card-header {
	text-align: right;
	background-color: transparent;
	color: white;
}
.card-body {
	text-align: left;
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: transparent;
	color: white;
}
.card-footer {
	color: transparent;
	background-color: transparent;
}
.inline_box {
	display: inline-block;
}

.profile {
	background-color: white;
	border: 3px solid white;
	width: 10rem;
	height: 10rem;
}
.dimText {
	color: #6c757d;
}
.col_border {
	border: 1px solid #171b2e;
}
.save_icon {
	margin-right: 5%;
}
