.cardInfo {
	border-radius: 10px;
	background-color: #020c20;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	border-color: aqua;
	margin: 2%;
	padding: 0.5%;
}
.parent {
	display: flex; /* Makes the parent a flex container */
	justify-content: space-between; /* Optional: Adjust spacing */
}

.child {
	flex: 1; /* Ensures all children have equal width */
}
.child .col.align-items-start {
	display: flex;
	flex-direction: column;
	justify-content: center; /* Vertically center the content */
	align-items: flex-start; /* Horizontally left-align the content */
	height: 100%; /* Ensure the height of the container is consistent */
	padding: 10px; /* Optional: Add some spacing */
}

.child .col.align-items-start .logo-info {
	display: flex;
	flex-direction: row; /* Arrange logo and info in a row */
	align-items: center; /* Vertically align logo and info */
	gap: 16px; /* Space between logo and info */
}
.card {
	background-color: transparent; /* Remove the background color */
	border: none; /* Optional: remove the border for a cleaner look */
	height: 100%;
}
.card-header {
	text-align: right;
	background-color: transparent;
	color: white;
}
.card-body {
	/*align all left*/
	text-align: left;
	/*vertical align*/
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: transparent;
	color: white;
}
.card-footer {
	color: transparent;
	background-color: transparent;
}
.inline_box {
	display: inline-block;
}

.profile {
	background-color: white;
	border: 3px solid white;
	width: 10rem;
	height: 10rem;
}
.dimText {
	color: #6c757d;
}
.col_border {
	border: 1px solid #171b2e;
}
